.form {
  position: absolute;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: #00deed;
  border: none;
  top: 10%;
  left: 10%;
  transform: translate(-10%, 10%);

  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  input {
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  span {
    color: #ff0000;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
}
